body {
  background-color: rgb(199, 197, 197);
}

h1 {
  font-family: "Agu Display", serif;
  font-size: 3rem;
}

p {
  font-family: "Elms Sans", sans-serif;
}

a {
  color: rgb(13, 208, 97);
  text-decoration: none;

  &:hover {
    color: rgb(42, 11, 11);
  }
}
