* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dedcdc;
}

body {
    display: grid;
    place-content: center;
}

header {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h1 {
    font-size: 3rem;
    color: #753e3e;
}

main {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 1.75rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

p {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

li {
    list-style-type: none;
    padding-bottom: 0.5rem;
}

a {
    font-weight: bolder;
    color: black;
    text-underline-offset: 0.25rem;
}
