---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";
export async function getStaticPaths() {
	const posts = await getCollection("posts");
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: { post },
	}));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Base
    title={`${post.data.title} | Micah Asowata`}
    description={post.data.summary}
    img={{
      src: "https://utfs.io/f/dacc1f27-316e-41c5-9e07-064369446e66-2uz.jpg",
      alt: "micahasowata.com logo",
    }}
    type="article"
>
    <article class="px-7 md:mx-auto prose prose-stone dark:prose-invert prose-blockquote:font-sora">
        <h1>{post.data.title}</h1>
        <Content />
    </article>
</Base>
