---
import { getCollection } from "astro:content";
import Base from "../../layouts/Base.astro";

const allPosts = await getCollection("posts");

const allTags = allPosts.map((post) => post.data.tags).flat();
const allUniqueTags = [...new Set(allTags)];
---

<Base title="Post Tags">
  <ul>
    {
      allUniqueTags.map((tag) => (
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</Base>
