---
import Pages from "../layouts/Pages.astro";
---

<Pages title="Page not found">
<div class="h-screen grid place-items-center">
<article class="prose dark:prose-invert">
  <h1>Page not found</h1>
  <a href="/">Go Home</a>
</artrticle>
</div>
</Pages>
