---
import Base from "../layouts/Base.astro";
const allPosts = await Astro.glob("./posts/*.md");
---

<Base title="Blog">
  <h2>Blogs go here</h2>
  {
    allPosts.map((post) => (
      <li>
        <a href={post.url}>{post.frontmatter.title}</a>
      </li>
    ))
  }
</Base>
