---
import Pages from "../layouts/Pages.astro";
---

<Pages title="Micah Asowata" description="Home page of Micah Asowata's website">
  <article
    class="prose prose-neutral md:prose-lg lg:prose-xl dark:prose-invert prose-img:rounded-md"
  >
    <h1>Hi, I am Micah Asowata.</h1>
    <p>
      I am an engineer with current focus on web based products and tooling. I
      always aim to deliver excellent products so that I would have no reason to
      echo Leonardo Da Vinci's last words:
    </p>
    <blockquote>
      I have offended God and mankind because my work did not reach the quality
      it should have
    </blockquote>
    <p>
      You can go through my <a href="/projects">projects</a> to see what I have built
    </p>
    <p>
      If you are here to see my writings you can click <a href="/posts">here.</a
      >
    </p>
  </article>
</Pages>
