---
import Pages from "../layouts/Pages.astro";
---

<Pages title="Micah Asowata" description="Home page of Micah Asowata's website">
  <article
    class="prose prose-neutral md:prose-lg lg:prose-xl dark:prose-invert prose-img:rounded-md"
  >
    <h1>Hi 👋🏾, I am Micah Asowata.</h1>
    <p>You are welcome to my personal internet space.</p>
    <p>
      I am a software engineer. I love building things. I am currently
      specializing in building products that live on the web. The whole 9 yards
      not just the UI or backend.
    </p>
    <p>
      I wrote my first lines of HTML on the 21st of September 2024 after a Maths
      exam and I have been exploring the web ever since then
    </p>
    <p>
      One thing you probably noticed by now is the simplicity of this site. Let
      me tell you why.
    </p>
    <p>
      I really have zero ideas about how to come up with complex, breath taking
      UI designs. I usually build the functionality (UI and Backend) first
      before thinking about what the product would look like and when I finally
      circle back together I have a few days left so I just slap a gray scale
      along with "nice" text then call it a day
    </p>
    <p>I am working on improving my design skills, I promise. 😂.</p>
    <p>
      You got here. Firstly, thanks for reading. Secondly, it seems like you
      like what you are reading.
    </p>
    <p>
      You can click <a href="/posts">here</a> to see more of my posts or click <a
        href="/projects">here</a
      > to see my projects
    </p>
  </article>
</Pages>
