---
import Pages from "../layouts/Pages.astro";
---

<Pages title="Micah Asowata">
  <article class="px-7 md:mx-auto prose prose-stone dark:prose-invert">
  <p class="font-bold">/</p>
<h1>Hi, I am Micah Asowata. I am a software engineer.</h1>
  <p>
    I decided in 2023 that I would call myself a software engineer rather than a backend engineer or frontend engineer because I think the best engineers are those who can efficient switch from domain to domain productively. Besides I really the idea of a small team of 4 or 5 engineers who are building a fantastic product and in those kinds of teams those who can wear multiple hats fashionably are usually the best fits.
  </p>
  <p>
    This is the my personal space on the internet and as you can tell it is very simple. I love simplicity. I believe the best products are the simplest e.g using Google is nothing more than typing text into a search bar. There is certainly complexities underneath that simplicity but users really should not be burdened with that.
    </p>
    <p>
  I am aiming to write more. I do a lot of private writing to get my thoughts together already but I am aiming to write more in public.
  </p>
  <p>Since July I've been making deliberate effort to improve my attention span and reading habits by reading novels, technical articles (papers and blog posts) and so far one thesis.</p>
  <p>
  In summary, I am a software engineer that is very willing to wear multiple hats and learn new things on small teams building excellent products. If that's true about your team, <a href="mailto:me@micahasowata.com">send me a message</a>
  </p>
  </article>
</Pages>
