---
import ToolsCard from "../components/ToolsCard.astro";
import Pages from "../layouts/Pages.astro";
---

<Pages title="Tools I use" description="An ever changing of tools I use">
  <section>
    <div class="prose dark:prose-invert">
      <h1>My tools</h1>
      <p class="lead">PS: This list would change very frequently</p>
    </div>
    <section class="pt-5">
      <div class="prose dark:prose-invert">
        <h2>My daily drivers</h2>
      </div>
      <ul class="grid grid-cols-4 gap-4">
        <li>
          <ToolsCard
            title={"Go"}
            description={"My language of choice for writing software because I can write any kind of software with it. I love its syntax simplicity, its compiler performance and its amazing ecosystem."}
            link="https://go.dev/"
          />
        </li>
        <li>
          <ToolsCard
            title={"Postgresql"}
            description={"My go to database. Fantastic out-of-the-box experience. It also allows for improvements with extensions and I think that is the best thing a DB has ever offered me"}
            link="https://www.postgresql.org/"
          />
        </li>
        <li>
          <ToolsCard
            title={"Redis"}
            description={"Session storage. Background workers storage. Cache. Quick access DB. Always fast. Always predictable. Always ready. Never failing. It is core part of my workflow"}
            link="https://redis.io/"
          />
        </li>
        <li>
          <ToolsCard
            title={"Docker"}
            description={"The best thing that has happened my workflow. I can set up tools in minutes without stress. I even use it to test production settings while in development because it allows me to. 🤯."}
            link="https://www.docker.com/"
          />
        </li>
        <li>
          <ToolsCard
            title={"Tailwind"}
            description={"The best thing that has happened to my CSS for real. It provides the right amount of flexibility without making have to worry about the overhead. I have not tasted a better flavor of CSS."}
            link="https://tailwindcss.com/"
          />
        </li>
        <li>
          <ToolsCard
            title={"Typescript"}
            description={"I use it primarily because I am addicted to IDE support. Secondarily because it helps me catch bugs I would not have caught with JS. Also because I love typed languages."}
            link="https://www.typescriptlang.org/"
          />
        </li>
        <li>
          <ToolsCard
            title={"React"}
            description={"I used it directly in the past. I still use tools from the ecosystem in now and I don't see myself moving anywhere anytime soon. The perks are too good to leave."}
            link="https://react.dev/"
          />
        </li>
        <li>
          <ToolsCard
            title={"Next JS"}
            description={"All project UIs are built with Next JS because it is recommended React framework and because it is just too good. To create and deploy exellent UI is just so easy with it."}
            link="https://nextjs.org/"
          />
        </li>
      </ul>
    </section>
    <section class="pt-5">
      <div class="prose dark:prose-invert">
        <h2>Honorable mentions</h2>
      </div>
      <ul class="grid grid-cols-4 gap-4">
        <li>
          <ToolsCard
            title={"Astro"}
            description={"Extremely performant. Great SEO possibilities. Fantastic developer experience. Great learning curve. Those are requirements I make decisions by and it checked every one of them."}
            link="https://astro.build/"
          />
        </li>
      </ul>
    </section>
  </section>
</Pages>
