---
import Social from "./Social.astro";
const username = "micahasowata";
---

<footer>
  <p>Learn more about <a href=`https://github.com/${username}`>me</a></p>
  <Social platform="x" username="micahasowata" />
</footer>
