---
import { getCollection } from "astro:content";

const allPosts = await getCollection("posts");

const allTags = allPosts.map((post) => post.data.tags).flat() as string[];
const tags = [...new Set(allTags)];
---

<div>
  <ul>
    {
      tags.map((tag) => (
        <li>
          <a href={`/tags/${tag}`}>{tag}</a>
        </li>
      ))
    }
  </ul>
</div>
