---
import ProjectsCard from "../../components/ProjectsCard.astro";
import Pages from "../../layouts/Pages.astro";
---

<Pages title="All my Projects" description="All of Micah Asowata's Projects">
  <section>
    <ul>
      <li>
        <ProjectsCard
          name="jason"
          src="https://avatars.githubusercontent.com/u/93443076?v=4"
          description="convinience wrapper for JSON"
          alt="logo for jason"
        />
      </li>
    </ul>
  </section>
</Pages>
