---
import Pages from "../../layouts/Pages.astro";
---

<Pages title="Projects">
  <article class="px-7 md:mx-auto min-h-screen prose prose-stone dark:prose-invert">
<p class="font-bold">/projects</p>
  <p>
  I have spent a considerable amount of time working on different kinds of projects because I do not want to be efficient in just one domain.
  </p>
    <ul>
      <li>
<a href="https://github.com/micahasowata/jason" target="_blank">jason</a> (library)
           </li>
           <li>
           <a href="https://github.com/micahasowata/rego" target="_blank">rego</a> (cli)
           </li>
    </ul>
  </artrticle>
</Pages>
