---
import { Image } from "astro:assets";
import logo from "../assets/logo.svg";
import Theme from "../components/Theme.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
const footerDate = new Date().getFullYear();
---

<!doctype html>
<html lang="en" transition:animate="none">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title}</title>
  </head>
  <body
    class="font-mono grid place-content-center dark:bg-gray-600 dark:text-white"
  >
    <header>
      <nav>
        <ul class="grid grid-cols-3 gap-4 py-3">
          <div>
            <Image
              src={logo}
              alt="personal logo featuring a lowercase m and a lowercase a and a square all white on a black background"
              width={30}
              height={30}
            />
          </div>
          <div class="grid place-content-center grid-cols-3">
            <li><a href="/">Home</a></li>
            <li><a href="/posts">Posts</a></li>
            <li><a href="/projects">Projects</a></li>
          </div>
          <div class="grid place-content-center">
            <Theme />
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <slot />
    </main>
    <footer class="grid place-content-center">
      <a href="https://github.com/micahasowata"
        >{`Built by me ${footerDate}.`}</a
      >
    </footer>
  </body>
</html>
